<div class="container" >
    <div class="panel" style="margin-bottom: 4px;">
        <div class="panel-body">
          <b>Modify : </b>phSensor1
        </div>
      </div>

      <div style="background-color: #fff;padding: 15px">

     
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="salutation">Sensor Name</label>
        <input id="" class="form-control" type="text" value="phSensor1">
      </div>
      <div class="form-group">
        <label for="salutation">LoRa Gateway Name</label>
        <select name="" id="" class="form-control">
          <option selected="LoRa1" value="">LoRa1</option>
          <option value="">LoRa1</option>
          <option value="">LoRa2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="salutation">Standard Min Value</label>
        <input id="" class="form-control" type="text" value="5">
      </div>
      <div class="form-group">
        <label for="salutation">Minimum Scale</label>
        <input id="" class="form-control" type="text" value="14">
      </div>
      
      <div class="form-group">
        <label for="salutation">Menufactured By</label>
        <input id="" class="form-control" type="text" value="xyz">
      </div>



    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label for="salutation">Sensor Type</label>
        <input id="" class="form-control" type="text" value="pH">
      </div>
      <div class="form-group">
        <label for="salutation">Department Name</label>
        <select name="" id="" class="form-control" >
          <option selected="Dept1" value="">Dept1</option>
          <option value="">Dept1</option>
          <option value="">Dept2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="salutation">Standard Max Value</label>
        <input id="" class="form-control" type="text" value="7">
      </div>
      <div class="form-group">
        <label for="salutation">Maximum Scale</label>
        <input id="" class="form-control" type="text" value="14">
      </div>
      
      <div class="form-group">
        <label for="salutation">Model Number</label>
        <input id="" class="form-control" type="text" value="633ahsdgdv3">
      </div>

    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label for="salutation">Sensing Title</label>
        <input id="email" class="form-control" type="text" value="Measure ph value at transmission Line">
      </div>
      <div class="form-group">
        <label for="salutation">Sensing Location Name</label>
        <select name="" id="" class="form-control">
          <option selected="Loc1" value="">Loc1</option>
          <option value="">Loc1</option>
          <option value="">Loc2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="salutation">Sensing Description</label>
        <textarea style="height: 50px;" class="form-control" >Measure transmisson line value and should alert if below 7</textarea>
      </div>
      <div class="form-group">
        <label for="salutation">Measurement Unit</label>
        <select name="" id="" class="form-control">
          
          <option value="">U1</option>
          <option value="">U2</option>
          <option value="">U3</option>
        </select>
      </div>
      <div class="form-group">
        <label for="salutation">Graph Type</label>
        <select name="" id="" class="form-control">
          
          <option value="">Line Chart</option>
          <option value="">Bar Chart</option>
        </select>
      </div>

    </div>

  </div>

  <div class="panel" >
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="salutation">Latitude</label>
                    <input id="" class="form-control" type="text" value="18.6808093">
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="form-group">
                      <label for="salutation">Longitude</label>
                      <input id="" class="form-control" type="text" value="74.1189015">
                    </div>
              </div>
          </div>
          <div style="width: 100%;border: 1px solid#ddd; padding: 10px;">
            Include map here...
          </div>
          
    </div>
  </div>
  
  <div style="width:100%;">
      <button routerLink="/configuration" class="btn btn-default" type="button">
          Cancel
      </button>
      <button routerLink="/configuration" class="btn btn-primary" type="button">
        Reset
    </button>
    <button class="btn btn-primary disabled" type="button">
        Reset
    </button>
    <div style="float:right">
      <button routerLink="/configuration" class="btn btn-primary" type="button">
          Modify
      </button>
      <button class="btn btn-primary disabled" type="button">
          Modify
      </button>
      </div>
  </div>

  

</div>
</div>

