<div class="container" style="background-color: #fff;padding: 15px">
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="salutation">Sensor Name</label>
        <input id="" class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="salutation">LoRa Gateway Name</label>
        <select name="" id="" class="form-control">
          <option selected="LoRa1" value="">LoRa1</option>
          <option value="">LoRa1</option>
          <option value="">LoRa2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="salutation">Standard Min Value</label>
        <input id="" class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="salutation">Minimum Scale</label>
        <input id="" class="form-control" type="text">
      </div>
      
      <div class="form-group">
        <label for="salutation">Menufactured By</label>
        <input id="" class="form-control" type="text">
      </div>



    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label for="salutation">Sensor Type</label>
        <input id="" class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="salutation">Department Name</label>
        <select name="" id="" class="form-control">
          <option selected="Dept1" value="">Dept1</option>
          <option value="">Dept1</option>
          <option value="">Dept2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="salutation">Standard Max Value</label>
        <input id="" class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="salutation">Maximum Scale</label>
        <input id="" class="form-control" type="text">
      </div>
      
      <div class="form-group">
        <label for="salutation">Model Number</label>
        <input id="" class="form-control" type="text">
      </div>

    </div>
    <div class="col-md-8">
      <div class="form-group">
        <label for="salutation">Sensing Title</label>
        <input id="email" class="form-control" type="text">
      </div>
      <div class="form-group">
        <label for="salutation">Sensing Location Name</label>
        <select name="" id="" class="form-control">
          <option selected="Loc1" value="">Loc1</option>
          <option value="">Loc1</option>
          <option value="">Loc2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="salutation">Sensing Description</label>
        <textarea style="height: 50px;" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="salutation">Unit</label>
        <select name="" id="" class="form-control">
          <option selected="" disabled="" hidden="" value=""></option>
          <option value="">U1</option>
          <option value="">U2</option>
          <option value="">U3</option>
        </select>
      </div>
      <div class="form-group">
        <label for="salutation">Graph Type</label>
        <select name="" id="" class="form-control">
          <option selected="" disabled="" hidden="" value=""></option>
          <option value="">Line Chart</option>
          <option value="">Bar Chart</option>
        </select>
      </div>

    </div>

  </div>

  <div class="panel" >
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label for="salutation">Latitude</label>
                    <input id="" class="form-control" type="text">
                  </div>
              </div>
              <div class="col-md-8">
                  <div class="form-group">
                      <label for="salutation">Longitude</label>
                      <input id="" class="form-control" type="text">
                    </div>
              </div>
          </div>
          <div style="width: 100%;border: 1px solid#ddd; padding: 10px;">
            Include map here...
          </div>
          
    </div>
  </div>
  
  <div style="width:100%;">
      <button routerLink="/configuration" class="btn btn-default" type="button">
          Cancel
      </button>
    <div style="float:right">
      <button routerLink="/configuration" class="btn btn-primary" type="button">
          Add
      </button>
      <button class="btn btn-primary disabled" type="button">
          Add
      </button>
      </div>
  </div>
  
</div>