<div class="container">
  <div class="panel" style="margin-bottom: 4px;">
    <div class="panel-body">
      <b>Sensor Name : </b>phSensor1
    </div>
  </div>


  <div style="background-color: #fff;padding: 15px;margin-bottom: 15px;">
    <div class="row">
      <div class="col-md-8">

        <div class="form-group">
          <label>LoRa Gateway Name : </label>
          <br>LoRa1
        </div>
        <div class="form-group">
          <label>Sensor Type : </label>
          <br>pH
        </div>
        <div class="form-group">
          <label>Standard Min Value : </label>
          <br>5
        </div>
        <div class="form-group">
          <label>Minimum Scale : </label>
          <br>1
        </div>
        <div class="form-group">
          <label>Menufactured By : </label>
          <br>XYZ
        </div>
        <div class="form-group">
          <label>Latitude : </label>
          <br>18.6808093
        </div>
      </div>

      <div class="col-md-8">

        <div class="form-group">
          <label>Department Name : </label>
          <br>LoRa1
        </div>
        <div class="form-group">
          <label>Sensing Title : </label>
          <br>Measure ph value at transmission Line
        </div>
        <div class="form-group">
          <label>Standard Max Value : </label>
          <br>7
        </div>
        <div class="form-group">
          <label>Maximum Scale : </label>
          <br>14
        </div>
        <div class="form-group">
          <label>Model Number : </label>
          <br>XYZ
        </div>
        <div class="form-group">
          <label>Longitude : </label>
          <br>74.1189015
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label>Sensing Location Name : </label>
          <br>transmisson line
        </div>
        <div class="form-group">
          <label>Sensing Description : </label>
          <br>Measure transmisson line value and should alert if below
        </div>
        <div class="form-group">
          <label>Measurement Unit : </label>
          <br>none
        </div>
        <div class="form-group">
          <label>Graph Type : </label>
          <br>Line Chart
        </div>

      </div>



    </div>
    <hr style="border: 1px solid #ddd;margin-bottom: 15px;">
    <div style="width:100%;">
        <button routerLink="/configuration" class="btn btn-default" type="button">
          Back
        </button>
        <div style="float:right">
          <button routerLink="/configurationEdit" class="btn btn-primary" type="button">
            Modify
          </button>
      
        </div>
      </div>

  </div>


</div>


