<div class="container">
    <div class="panel" style="margin-bottom: 4px;">
    <div class="panel-body">
      <span style="font-weight: bold;"> Dashboard : </span>
      <div style="float :right">
        <a >30min</a> |
        <a >1hr</a> |
        <a >2hr</a> |
        <a >5hr</a> |
        <a >1day</a>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div style="width: 100%;background: #fff;">
        <div style="padding: 10px;overflow: hidden;">
          <div style="background-color: #eee;padding: 10px;margin-bottom: 10px;">
            <span style="font-weight: bold;">Sensor Name : </span>
            <a routerLink="/homeDetail">phSensor1</a>
          </div>

          <div style="width: 50%;float: left;">
            <span style="font-weight: bold;">Factory Name : </span>JDPW
          </div>
          <div style="width: 50%;float: left;">
            <span style="font-weight: bold;">Department Name : </span>Paint Shop
          </div>

          <div style="width: 50%;float: left;">
            <span style="font-weight: bold;">Current Value : </span>9
          </div>
          <div style="width: 50%;float: left;">
            <span style="font-weight: bold;">Current Value Time : </span>25-Jun-2018 02:15
          </div>
          <div style="float: left;">
            <span style="font-weight: bold;">Sensing Title : </span>
            <br>Measure pH value at transmission Line</div>



        </div>
        <hr style="margin: 0 10px;border: 1px solid #ddd;">
        <div id="chart"></div>
      </div>
    </div>

    <div class="col-md-12">
      <div style="width: 100%;background: #fff;">
        <div style="padding: 10px;overflow: hidden;">
          <div style="background-color: #eee;padding: 10px;margin-bottom: 10px;">
            <span style="font-weight: bold;">Sensor Name : </span>
            <a routerLink="/homeDetail">phSensor1</a>
          </div>

          <div style="width: 50%;float: left;">
            <span style="font-weight: bold;">Factory Name : </span>JDPW
          </div>
          <div style="width: 50%;float: left;">
            <span style="font-weight: bold;">Department Name : </span>Paint Shop
          </div>

          <div style="width: 50%;float: left;">
            <span style="font-weight: bold;">Current Value : </span>9
          </div>
          <div style="width: 50%;float: left;">
            <span style="font-weight: bold;">Current Value Time : </span>25-Jun-2018 02:15
          </div>
          <div style="float: left;">
            <span style="font-weight: bold;">Sensing Title : </span>
            <br>Measure pH value at transmission Line</div>

        </div>
        <hr style="margin: 0 10px;border: 1px solid #ddd;">
        <div id="myDiv" style="width: 100%;height: 400px;">
          <!-- Plotly chart will be drawn inside this DIV -->
        </div>
      </div>



      <div class="col-md-12">

      </div>
    </div>
  </div>

</div>

<div class="footer-uxf footer-uxf-centered footer">
  <div class="container">
    <span class="footer-legal">Copyright ©
      <script>document.write(new Date().getFullYear());</script>2018 Deere &amp; Company. All Rights Reserved.</span>
  </div>
</div>