
<div class="container">
  <div class="panel" style="margin-bottom: 4px;">
    <div class="panel-body">
      <span style="font-weight: bold;"> Sensor Details : phSensor1</span>

      
    </div>
  </div>

  <div class="panel">
    <div class="panel-body">

      <div style="overflow: hidden;">

        <div style="width: 50%;float: left;">
          <span style="font-weight: bold;">Factory Name : </span>JDPW
          <br>
          <br>
        </div>
        <div style="width: 50%;float: left;">
          <span style="font-weight: bold;">Department Name : </span>Paint Shop
          <br>
          <br>
        </div>

        <div style="width: 50%;float: left;">
          <span style="font-weight: bold;">Current Value : </span>9
          <br>
          <br>
        </div>
        <div style="width: 50%;float: left;">
          <span style="font-weight: bold;">Current Value Time : </span>25-Jun-2018 02:15
          <br>
          <br>
        </div>
        <div style="float: left;">
          <span style="font-weight: bold;">Sensing Title : </span>
          Measure pH value at transmission Line</div>
        <br>
        <br>

      </div>

      <hr style="border: 1px solid #ddd;">
      <div style="background-color: #eee;padding: 10px;">
          <span style="font-weight: bold;">Line-Chart : </span>
        </div>
      <div id="linechart"></div>
      <hr style="border: 1px solid #ddd;">

      <div style="width:  100%;text-align: center;">
        <div style="display: inline-block;width: 50%;">
          <table id="example" class="dataTable display" width="60%" role="grid" aria-describedby="example_info">
            <thead>
              <tr role="row">
                <th scope="col" class="dt-left sorting" aria-label="Name: activate to sort column descending">Timestamp</th>
                <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office: activate to sort column descending">Sensor Value</th>
              </tr>
            </thead>

            <tbody>
              <tr role="row" class="odd">
                <td class=" dt-left dt-left dt-left">25-Jun-2018 2:15</td>
                <td class=" dt-left dt-left dt-left">9</td>
              </tr>
              <tr role="row" class="even">
                <td class=" dt-left dt-left dt-left">25-Jun-2018 2:10</td>
                <td class=" dt-left dt-left dt-left">13</td>
              </tr>
              <tr role="row" class="odd">
                <td class=" dt-left dt-left dt-left">25-Jun-2018 2:05</td>
                <td class=" dt-left dt-left dt-left">10</td>
              </tr>
              <tr role="row" class="even">
                <td class=" dt-left dt-left dt-left">25-Jun-2018 2:00</td>
                <td class=" dt-left dt-left dt-left">3</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <hr style="border: 1px solid #ddd;">

      <div style="background-color: #eee;padding: 10px;">
          <span style="font-weight: bold;">Notifications : </span>
        </div>

      <table id="example" class="dataTable display" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
        <thead>
          <tr role="row">
            <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending"
              style="width: 139px;">Sensor Name</th>
            <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column descending"
              style="width: 210px;">Alert Details</th>
            <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office: activate to sort column descending"
              style="width: 107px;">Time Stamp</th>
            <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office: activate to sort column descending"
              style="width: 107px;">Current Value</th>
            <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office: activate to sort column descending"
              style="width: 107px;">Standard Value (Min-Max)</th>
          </tr>


        </thead>

        <tbody>
          <tr role="row" class="odd">
            <td class=" dt-left dt-left dt-left">
              <a>phSensor1</a>
              <div class="alertNew"></div>
            </td>
            <td class=" dt-left dt-left dt-left">Current value of phSensor1 is 2. It should be between min 'X' and max 'Y'.</td>
            <td class=" dt-left dt-left dt-left">25-Jun-2018 3:05</td>
            <td class=" dt-left dt-left dt-left">2</td>
            <td class=" dt-left dt-left dt-left">X - Y</td>
          </tr>
          
          <tr role="row" class="even">
            <td class=" dt-left dt-left dt-left">
              <a>phSensor1</a>
            </td>
            <td class=" dt-left dt-left dt-left">Current value of phSensor1 is 2. It should be between min 'X' and max 'Y'.</td>
            <td class=" dt-left dt-left dt-left">25-Jun-2018 3:05</td>
            <td class=" dt-left dt-left dt-left">2</td>
            <td class=" dt-left dt-left dt-left">X - Y</td>
          </tr>
          <tr role="row" class="odd">
            <td class=" dt-left dt-left dt-left">
              <a>phSensor1</a>
            </td>
            <td class=" dt-left dt-left dt-left">Current value of phSensor1 is 2. It should be between min 'X' and max 'Y'.</td>
            <td class=" dt-left dt-left dt-left">25-Jun-2018 3:05</td>
            <td class=" dt-left dt-left dt-left">2</td>
            <td class=" dt-left dt-left dt-left">X - Y</td>
          </tr>
          <tr role="row" class="even">
            <td class=" dt-left dt-left dt-left">
              <a>phSensor1</a>
            </td>
            <td class=" dt-left dt-left dt-left">Current value of phSensor1 is 2. It should be between min 'X' and max 'Y'.</td>
            <td class=" dt-left dt-left dt-left">25-Jun-2018 3:05</td>
            <td class=" dt-left dt-left dt-left">2</td>
            <td class=" dt-left dt-left dt-left">X - Y</td>
          </tr>
          <tr role="row" class="odd">
            <td class=" dt-left dt-left dt-left">
              <a>phSensor1</a>
            </td>
            <td class=" dt-left dt-left dt-left">Current value of phSensor1 is 2. It should be between min 'X' and max 'Y'.</td>
            <td class=" dt-left dt-left dt-left">25-Jun-2018 3:05</td>
            <td class=" dt-left dt-left dt-left">2</td>
            <td class=" dt-left dt-left dt-left">X - Y</td>
          </tr>
        </tbody>
      </table>
      <div>
      <div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 9 of 10 entries</div>
      <div class="dataTables_paginate paging_simple_numbers" id="example_paginate" style="float:right">
        <a class="paginate_button previous disabled" aria-controls="example" data-dt-idx="0" tabindex="0" id="example_previous">Previous</a>
        <span>
          <a class="paginate_button current" aria-controls="example" data-dt-idx="1" tabindex="0">1</a>
        </span>
        <a class="paginate_button next disabled" aria-controls="example" data-dt-idx="2" tabindex="0" id="example_next">Next</a>
      </div>
    </div>
    </div>

  </div>

</div>