
<div class="container" style="background-color: #fff;padding: 15px">
     
    

  <div class="row uxf-code-block">
    <div class="col-md-24 code-content">
      <div id="example3-disp" class="demo">
        <div id="example_wrapper" class="dataTables_wrapper">
          <div class="table-responsive">
            <div id="example_wrapper" class="dataTables_wrapper">
              <div class="dataTables_length" id="example_length">
                <label>Show
                  <select name="example_length" aria-controls="example" class="">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select> entries</label>
              </div>
              <div id="example_filter" class="dataTables_filter">
                <label>Search:
                  <input type="search" class="" placeholder="" aria-controls="example">
                </label>
              </div>
              <table id="example" class="dataTable display" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">
                <thead>
                  <tr role="row">
                    <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending"
                      style="width: 139px;">Sensor Name</th>
                    <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column descending"
                      style="width: 210px;">Alert Details</th>
                    <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office: activate to sort column descending"
                      style="width: 107px;">Timestamp</th>
                    <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office: activate to sort column descending"
                      style="width: 107px;">Current Value</th>
                    <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office: activate to sort column descending"
                      style="width: 107px;">Standard Value (Min-Max)</th>
                  </tr>


                </thead>

                <tbody>
                  <tr role="row" class="odd">
                    <td class=" dt-left dt-left dt-left">
                      <a>phSensor1</a>
                      <div class="alertNew"></div>
                    </td>
                    <td class=" dt-left dt-left dt-left">Current value of phSensor1 is 2. It should be between min 'X' and max 'Y'.</td>
                    <td class=" dt-left dt-left dt-left">25-Jun-2018 3:05</td>
                    <td class=" dt-left dt-left dt-left">2</td>
                    <td class=" dt-left dt-left dt-left">X - Y</td>
                  </tr>
                  <tr role="row" class="even">
                    <td class=" dt-left dt-left dt-left">
                      <a>phSensor2</a>
                      <div class="alertNew"></div>
                    </td>
                    <td class=" dt-left dt-left dt-left">Current value of phSensor1 is 2. It should be between min 'X' and max 'Y'.</td>
                    <td class=" dt-left dt-left dt-left">25-Jun-2018 3:05</td>
                    <td class=" dt-left dt-left dt-left">2</td>
                    <td class=" dt-left dt-left dt-left">X - Y</td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class=" dt-left dt-left dt-left">
                      <a>noisemeter2</a>
                      <div class="alertNew"></div>
                    </td>
                    <td class=" dt-left dt-left dt-left">Current value of phSensor1 is 2. It should be between min 'X' and max 'Y'.</td>
                    <td class=" dt-left dt-left dt-left">25-Jun-2018 3:05</td>
                    <td class=" dt-left dt-left dt-left">2</td>
                    <td class=" dt-left dt-left dt-left">X - Y</td>
                  </tr>
                  <tr role="row" class="even">
                    <td class=" dt-left dt-left dt-left">
                      <a>phSensor1</a>
                    </td>
                    <td class=" dt-left dt-left dt-left">Current value of phSensor1 is 2. It should be between min 'X' and max 'Y'.</td>
                    <td class=" dt-left dt-left dt-left">25-Jun-2018 3:05</td>
                    <td class=" dt-left dt-left dt-left">2</td>
                    <td class=" dt-left dt-left dt-left">X - Y</td>
                  </tr>
                  <tr role="row" class="odd">
                    <td class=" dt-left dt-left dt-left">
                      <a>phSensor1</a>
                    </td>
                    <td class=" dt-left dt-left dt-left">Current value of phSensor1 is 2. It should be between min 'X' and max 'Y'.</td>
                    <td class=" dt-left dt-left dt-left">25-Jun-2018 3:05</td>
                    <td class=" dt-left dt-left dt-left">2</td>
                    <td class=" dt-left dt-left dt-left">X - Y</td>
                  </tr>
                  

                </tbody>
              </table>
              <div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 9 of 10 entries</div>
              <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                <a class="paginate_button previous disabled" aria-controls="example" data-dt-idx="0" tabindex="0" id="example_previous">Previous</a>
                <span>
                  <a class="paginate_button current" aria-controls="example" data-dt-idx="1" tabindex="0">1</a>
                </span>
                <a class="paginate_button next disabled" aria-controls="example" data-dt-idx="2" tabindex="0" id="example_next">Next</a>
              </div>
            </div>
            <div style="width: 15px"></div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!--     
  <div class="table-responsive">
    <table class="table table-uxf-modern table-striped">
      <thead>
        <tr>
          <th scope="col"  class="active uxf-sort uxf-sort-down">Sensor Name</th>
          <th scope="col"  class="uxf-sort">Alert Details</th>
          <th scope="col"  class="uxf-sort uxf-sort-down">Time Stamp</th>
          <th scope="col"  class="uxf-sort uxf-sort-up">Current Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items;">
          <td (click)="newPage(item.sensorID)">{{item.sensorName}}</td>
          <td>{{item.alertDetails}}</td>
          <td>{{item.timeStamp}}</td>
          <td>{{item.currentValue}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
</div>