<div class="container" style="background-color: #fff;padding: 15px">

  <div class="row uxf-code-block">
    <div class="col-md-24 code-content">
      <div id="example3-disp" class="demo">
        <div id="example_wrapper" class="dataTables_wrapper">
          <div class="table-responsive">
            <div id="example_wrapper" class="dataTables_wrapper">
              <div class="dataTables_length" id="example_length">
                <label>Show
                  <select name="example_length" aria-controls="example" class="">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select> entries</label>
              </div>
              <div id="example_filter" class="dataTables_filter">
                <label>Search:
                  <input type="search" class="" placeholder="" aria-controls="example">
                </label>
              </div>
              <table id="example" class="dataTable display" width="100%" role="grid" aria-describedby="example_info">
                <thead>
                  <tr role="row">
                    <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Name: activate to sort column descending"
                      >Sensor Name</th>
                    <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Position: activate to sort column descending"
                      >Factory</th>
                    <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office: activate to sort column descending"
                      >Department</th>
                    <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office: activate to sort column descending"
                     >Location</th>
                    <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office: activate to sort column descending"
                     >Last Working Time</th>
                    <th scope="col" class="dt-left sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Office: activate to sort column descending"
                     >Status</th>
                  </tr>


                </thead>

                <tbody>
                  <tr role="row" class="odd">
                    <td class=" dt-left dt-left dt-left">
                      phSensor1
                    </td>
                    <td class=" dt-left dt-left dt-left">JDPW</td>
                    <td class=" dt-left dt-left dt-left">Paint Shop</td>
                    <td class=" dt-left dt-left dt-left">abc</td>
                    <td class=" dt-left dt-left dt-left">25-Jun-2018 3:05</td>
                    <td class=" dt-left dt-left dt-left" style="color:green;">Working</td>
                  </tr>
                  <tr role="row" class="even">
                      <td class=" dt-left dt-left dt-left">
                        phSensor1
                      </td>
                      <td class=" dt-left dt-left dt-left">JDPW</td>
                      <td class=" dt-left dt-left dt-left">Paint Shop</td>
                      <td class=" dt-left dt-left dt-left">abc</td>
                      <td class=" dt-left dt-left dt-left">25-Jun-2018 3:05</td>
                      <td class=" dt-left dt-left dt-left" style="color:red;">Stopped</td>
                    </tr>
                    <tr role="row" class="odd">
                        <td class=" dt-left dt-left dt-left">
                          phSensor1
                        </td>
                        <td class=" dt-left dt-left dt-left">JDPW</td>
                        <td class=" dt-left dt-left dt-left">Paint Shop</td>
                        <td class=" dt-left dt-left dt-left">abc</td>
                        <td class=" dt-left dt-left dt-left">25-Jun-2018 3:05</td>
                        <td class=" dt-left dt-left dt-left" style="color:green;">Working</td>
                      </tr>
                      <tr role="row" class="even">
                          <td class=" dt-left dt-left dt-left">
                            phSensor1
                          </td>
                          <td class=" dt-left dt-left dt-left">JDPW</td>
                          <td class=" dt-left dt-left dt-left">Paint Shop</td>
                          <td class=" dt-left dt-left dt-left">abc</td>
                          <td class=" dt-left dt-left dt-left">25-Jun-2018 3:05</td>
                          <td class=" dt-left dt-left dt-left" style="color:green;">Working</td>
                        </tr>

                </tbody>
              </table>
              <div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to 9 of 10 entries</div>
              <div class="dataTables_paginate paging_simple_numbers" id="example_paginate">
                <a class="paginate_button previous disabled" aria-controls="example" data-dt-idx="0" tabindex="0" id="example_previous">Previous</a>
                <span>
                  <a class="paginate_button current" aria-controls="example" data-dt-idx="1" tabindex="0">1</a>
                </span>
                <a class="paginate_button next disabled" aria-controls="example" data-dt-idx="2" tabindex="0" id="example_next">Next</a>
              </div>
            </div>
            <div style="width: 15px"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>